In [1]:
import pandas as pd
from tqdm import tqdm
import os
import seaborn as sns

In [2]:
data_train = pd.read_csv("./datasets/train_pre.csv")
data_val = pd.read_csv("./datasets/val_pre.csv")
X_train, Y_train = data_train.drop('teamVictory',axis=1),data_train[['teamVictory']]
X_validate, Y_Validate = data_val.drop('teamVictory',axis=1),data_val[['teamVictory']]

In [3]:
df = data_train[['Player_1_pick','Player_1_gold','Player_6_pick','Player_6_gold']].groupby(['Player_1_pick','Player_6_pick']).count().reset_index()
df.loc[df['Player_1_gold']>4]
df

      Player_1_pick  Player_6_pick  Player_1_gold  Player_6_gold
0                 1             23              1              1
1                 1             38              1              1
2                 1             68              1              1
3                 1             83              1              1
4                 1            113              1              1
...             ...            ...            ...            ...
3135            887            516              7              7
3136            887            517              3              3
3137            887            777              5              5
3138            887            875              8              8
3139            887            876              3              3

[3140 rows x 4 columns]

In [4]:
top_counter = data_train[['Player_1_pick','Player_1_gold','Player_6_pick','Player_6_gold']].groupby(['Player_1_pick','Player_6_pick']).sum().reset_index()
top_counter['count'] = data_train[['Player_1_pick','Player_1_gold','Player_6_pick','Player_6_gold']].groupby(['Player_1_pick','Player_6_pick']).count().reset_index()['Player_1_gold']

In [14]:
top1 = top_counter.loc[top_counter['Player_1_pick']< top_counter['Player_6_pick']]
top2 = top_counter.loc[top_counter['Player_1_pick']> top_counter['Player_6_pick']]
top2.columns = ['Player_6_pick','Player_1_pick','Player_6_gold','Player_1_gold','count']

In [15]:
top2

      Player_6_pick  Player_1_pick  Player_6_gold  Player_1_gold  count
83                6              2          14461          21155      3
122               8              2           7845          13086      2
123               8              6           4228           7913      1
163               9              2           6328           5203      1
169              10              2          13150           9563      2
...             ...            ...            ...            ...    ...
3135            887            516          46389          38914      7
3136            887            517          21149          25753      3
3137            887            777          32059          35711      5
3138            887            875          54110          56957      8
3139            887            876          12247          20539      3

[1557 rows x 5 columns]

In [16]:
pd.concat([top1,top2],ignore_index=True)

      Player_1_pick  Player_6_pick  Player_1_gold  Player_6_gold  count
0                 1             23           4307           7406      1
1                 1             38           5576           6674      1
2                 1             68           4386           6643      1
3                 1             83           5853           8885      1
4                 1            113           3575           5763      1
...             ...            ...            ...            ...    ...
3135            516            887          38914          46389      7
3136            517            887          25753          21149      3
3137            777            887          35711          32059      5
3138            875            887          56957          54110      8
3139            876            887          20539          12247      3

[3140 rows x 5 columns]

In [20]:
pd.concat([top1,top2],ignore_index=True).groupby((['Player_1_pick','Player_6_pick'])).sum().reset_index().sort_values(['Player_1_pick','Player_6_pick'])

      Player_1_pick  Player_6_pick  Player_1_gold  Player_6_gold  count
0                 1             23           4307           7406      1
1                 1             38           5576           6674      1
2                 1             41          11528          12544      2
3                 1             54           6120           6492      1
4                 1             58           4945          10774      1
...             ...            ...            ...            ...    ...
2121            777            876          16483           9300      2
2122            777            887         101628          89676     15
2123            875            876          14419          12775      2
2124            875            887          82051          80334     12
2125            876            887          36458          22424      5

[2126 rows x 5 columns]

In [21]:
# def ChampCounterRelations(df):
#     top_counter = df[['Player_1_pick','Player_1_gold','Player_6_pick','Player_6_gold']].groupby(['Player_1_pick','Player_6_pick']).sum().reset_index()
#     top_counter['counter_Score'] = top_counter.apply(lambda x: x['Player_1_gold']-x['Player_6_gold'], axis=1)
#     jug_counter = df[['Player_2_pick','Player_2_gold','Player_7_pick','Player_7_gold']].groupby(['Player_2_pick','Player_7_pick']).mean().reset_index()
#     jug_counter['counter_Score'] = jug_counter.apply(lambda x: x['Player_2_gold']-x['Player_7_gold'], axis=1)
#     mid_counter = df[['Player_3_pick','Player_3_gold','Player_8_pick','Player_8_gold']].groupby(['Player_3_pick','Player_8_pick']).mean().reset_index()
#     mid_counter['counter_Score'] = mid_counter.apply(lambda x: x['Player_3_gold']-x['Player_8_gold'], axis=1)
#     bot_counter = df[['Player_4_pick','Player_4_gold','Player_9_pick','Player_9_gold']].groupby(['Player_4_pick','Player_9_pick']).mean().reset_index()
#     bot_counter['counter_Score'] = bot_counter.apply(lambda x: x['Player_4_gold']-x['Player_9_gold'], axis=1)
#     sup_counter = df[['Player_5_pick','Player_5_gold','Player_10_pick','Player_10_gold']].groupby(['Player_5_pick','Player_10_pick']).mean().reset_index()
#     sup_counter['counter_Score'] = sup_counter.apply(lambda x: x['Player_5_gold']-x['Player_10_gold'], axis=1)
#     return top_counter,jug_counter,mid_counter,bot_counter,sup_counter
def ChampCounterRelations(df):
    top_counter = data_train[['Player_1_pick','Player_1_gold','Player_6_pick','Player_6_gold']].groupby(['Player_1_pick','Player_6_pick']).sum().reset_index()
    top_counter['count'] = data_train[['Player_1_pick','Player_1_gold','Player_6_pick','Player_6_gold']].groupby(['Player_1_pick','Player_6_pick']).count().reset_index()['Player_1_gold']
    top1 = top_counter.loc[top_counter['Player_1_pick']< top_counter['Player_6_pick']]
    top2 = top_counter.loc[top_counter['Player_1_pick']> top_counter['Player_6_pick']]
    top2.columns = ['Player_6_pick','Player_1_pick','Player_6_gold','Player_1_gold','count']
    top_counter = pd.concat([top1,top2],ignore_index=True).groupby((['Player_1_pick','Player_6_pick'])).sum().reset_index().sort_values(['Player_1_pick','Player_6_pick'])
    top_counter['counter_Score'] = top_counter.apply(lambda x: x['Player_1_gold']-x['Player_6_gold'], axis=1)
    
    jug_counter = data_train[['Player_2_pick','Player_2_gold','Player_7_pick','Player_7_gold']].groupby(['Player_2_pick','Player_7_pick']).sum().reset_index()
    jug_counter['count'] = data_train[['Player_2_pick','Player_2_gold','Player_7_pick','Player_7_gold']].groupby(['Player_2_pick','Player_7_pick']).count().reset_index()['Player_2_gold']
    jug1 = jug_counter.loc[jug_counter['Player_2_pick']< jug_counter['Player_7_pick']]
    jug2 = jug_counter.loc[jug_counter['Player_2_pick']> jug_counter['Player_7_pick']]
    jug2.columns = ['Player_7_pick','Player_2_pick','Player_7_gold','Player_2_gold','count']
    jug_counter = pd.concat([jug1,jug2],ignore_index=True).groupby((['Player_2_pick','Player_7_pick'])).sum().reset_index().sort_values(['Player_2_pick','Player_7_pick'])
    jug_counter['counter_Score'] = jug_counter.apply(lambda x: x['Player_2_gold']-x['Player_7_gold'], axis=1)

    mid_counter = data_train[['Player_3_pick','Player_3_gold','Player_8_pick','Player_8_gold']].groupby(['Player_3_pick','Player_8_pick']).sum().reset_index()
    mid_counter['count'] = data_train[['Player_3_pick','Player_3_gold','Player_8_pick','Player_8_gold']].groupby(['Player_3_pick','Player_8_pick']).count().reset_index()['Player_3_gold']
    mid1 = mid_counter.loc[mid_counter['Player_3_pick']< mid_counter['Player_8_pick']]
    mid2 = mid_counter.loc[mid_counter['Player_3_pick']> mid_counter['Player_8_pick']]
    mid2.columns = ['Player_8_pick','Player_3_pick','Player_8_gold','Player_3_gold','count']
    mid_counter = pd.concat([mid1,mid2],ignore_index=True).groupby((['Player_3_pick','Player_8_pick'])).sum().reset_index().sort_values(['Player_3_pick','Player_8_pick'])
    mid_counter['counter_Score'] = mid_counter.apply(lambda x: x['Player_3_gold']-x['Player_8_gold'], axis=1)

    bot_counter = data_train[['Player_4_pick','Player_4_gold','Player_9_pick','Player_9_gold']].groupby(['Player_4_pick','Player_9_pick']).sum().reset_index()
    bot_counter['count'] = data_train[['Player_4_pick','Player_4_gold','Player_9_pick','Player_9_gold']].groupby(['Player_4_pick','Player_9_pick']).count().reset_index()['Player_4_gold']
    bot1 = bot_counter.loc[bot_counter['Player_4_pick']< bot_counter['Player_9_pick']]
    bot2 = bot_counter.loc[bot_counter['Player_4_pick']> bot_counter['Player_9_pick']]
    bot2.columns = ['Player_9_pick','Player_4_pick','Player_9_gold','Player_4_gold','count']
    bot_counter = pd.concat([bot1,bot2],ignore_index=True).groupby((['Player_4_pick','Player_9_pick'])).sum().reset_index().sort_values(['Player_4_pick','Player_9_pick'])
    bot_counter['counter_Score'] = bot_counter.apply(lambda x: x['Player_4_gold']-x['Player_9_gold'], axis=1)

    sup_counter = data_train[['Player_5_pick','Player_5_gold','Player_10_pick','Player_10_gold']].groupby(['Player_5_pick','Player_10_pick']).sum().reset_index()
    sup_counter['count'] = data_train[['Player_5_pick','Player_5_gold','Player_10_pick','Player_10_gold']].groupby(['Player_5_pick','Player_10_pick']).count().reset_index()['Player_5_gold']
    sup1 = sup_counter.loc[sup_counter['Player_5_pick']< sup_counter['Player_10_pick']]
    sup2 = sup_counter.loc[sup_counter['Player_5_pick']> sup_counter['Player_10_pick']]
    sup2.columns = ['Player_10_pick','Player_5_pick','Player_10_gold','Player_5_gold','count']
    sup_counter = pd.concat([sup1,sup2],ignore_index=True).groupby((['Player_5_pick','Player_10_pick'])).sum().reset_index().sort_values(['Player_5_pick','Player_10_pick'])
    sup_counter['counter_Score'] = sup_counter.apply(lambda x: x['Player_5_gold']-x['Player_10_gold'], axis=1)
    
    return top_counter,jug_counter,mid_counter,bot_counter,sup_counter


def MatchCounterSheet(x,top,jug,mid,bot,sup):
    return float(
        top.loc[(top['Player_1_pick']==x['Player_1_pick'])&(top['Player_6_pick']==x['Player_6_pick'])]['counter_Score']
        ),float(
        jug.loc[(jug['Player_2_pick']==x['Player_2_pick'])&(jug['Player_7_pick']==x['Player_7_pick'])]['counter_Score']    
        ),float(
        mid.loc[(mid['Player_3_pick']==x['Player_3_pick'])&(mid['Player_8_pick']==x['Player_8_pick'])]['counter_Score']    
        ),float(
        bot.loc[(bot['Player_4_pick']==x['Player_4_pick'])&(bot['Player_9_pick']==x['Player_9_pick'])]['counter_Score']    
        ),float(
        sup.loc[(sup['Player_5_pick']==x['Player_5_pick'])&(sup['Player_10_pick']==x['Player_10_pick'])]['counter_Score']    
        )

def CalulateCounterScore(df):
    top = ChampCounterRelations(df)[0]
    jug = ChampCounterRelations(df)[1]
    mid = ChampCounterRelations(df)[2]
    bot = ChampCounterRelations(df)[3]
    sup = ChampCounterRelations(df)[4]
    tmp = df.apply(MatchCounterSheet,args=(top,jug,mid,bot,sup),axis=1,result_type="expand")
    tmp.columns=['topcounter','jugcounter','midcounter','botcounter','supcounter']
    return tmp

In [24]:
ChampCounterRelations(df)[2].count()

      Player_3_pick  Player_8_pick  Player_3_gold  Player_8_gold  count
0                 1              3          16708          18163      3
1                 1              4           8910           5677      1
2                 1              7          11341          13413      2
3                 1              8          19599          15386      3
4                 1             10           8715           7100      1
...             ...            ...            ...            ...    ...
2228            555            777          22189          25117      3
2229            711            777         108126         124009     17
2230            711            875           4890           8829      1
2231            777            875          33006          33147      5
2232            777            876          11168           5964      1

[2233 rows x 5 columns]

In [ ]:
tmp = CalulateCounterScore(data_train)

In [ ]:
Y = tmp.join(Y_train)[['teamVictory']]

In [ ]:
tmp

In [ ]:
#ploting libraries
import matplotlib.pyplot as plt 
import seaborn as sns

#relevant ML libraries
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.tree import plot_tree
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import learning_curve

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
sns.scatterplot(tmp.join(Y_train),x='supcounter',y='botcounter',hue='teamVictory')

In [ ]:
train_X, test_X, train_Y, test_Y = train_test_split(tmp, Y, test_size = 0.2, random_state = 0)

In [ ]:
# #Grid Search
# param_grid = [
#         {
#             'max_depth' : range(1,20),
#             'min_samples_leaf' : range(1,20),
            
#         }
#        ]

# clf = GridSearchCV(DecisionTreeClassifier(), param_grid, cv=3,
#                            scoring='accuracy')
# clf.fit(train_X,train_Y)


# print("Best parameters set found on development set:")
# print(clf.best_params_)

In [ ]:
DCT = DecisionTreeClassifier(max_depth=10,min_samples_leaf = 19)
DCT.fit(train_X,train_Y)
y_predict = DCT.predict(test_X)

print(classification_report(y_true=test_Y,y_pred=y_predict))

#plot the decision tree with unlimited max depth
plt.figure()
plt.figure(dpi=1000,figsize=(8,5))
plot_tree(DCT, filled=True,feature_names=list(train_X.columns))
plt.title("Decision tree trained after pruning")
plt.show()