In [1]:
from ChampionNameMapping import ChampionNameMapping
from tqdm import tqdm
import pandas as pd

In [2]:
def to_decisionTreeData(df,stage):
    dt_columns = ChampionNameMapping.dt_feature_columns()
    df_DT = pd.DataFrame(columns=dt_columns)

    columns = []
    for i in range (1,11):
        columns.append("Player_" + str(i) + "_pick")
    df_new = df[columns]


    model = ChampionNameMapping(stage)
    for index, row in tqdm(df_new.iterrows()):
        ids = row.values.tolist()
        model.fit_data_id(ids)
        dtv = model.dt_feature_values()

        df_DT.loc[len(df_DT.index)] = dtv
    
    df_DT['TeamVictory'] = df['teamVictory']
    
    return df_DT

In [4]:
wr = pd.read_csv('../Useful Features/3.championWinRate_mid.csv')

In [20]:
wr.loc[wr['B_winRate']<45]

,id,name,Overall_winRate,T_winRate,J_winRate,M_winRate,B_winRate,U_winRate,T_sum,T_win,J_sum,J_win,M_sum,M_win,B_sum,B_win,U_sum,U_win,Overall_sum,Overall_win
0,1,Annie,51.22,44.63,35.10,51.80,43.11,37.83,106,57,0,0,666,345,16,5,73,34,861,441
1,2,Olaf,53.53,53.54,53.74,45.19,43.11,37.83,1836,983,428,230,42,22,13,7,1,0,2320,1242
2,3,Galio,47.45,44.63,35.10,48.00,43.11,37.83,25,10,0,0,1152,553,6,2,172,78,1355,643
3,4,Twisted Fate,47.71,44.63,35.10,48.16,43.11,37.83,10,3,3,0,1306,629,11,6,26,9,1356,647
4,5,Xin Zhao,49.74,44.63,50.10,45.19,43.11,37.83,48,20,1475,739,26,13,1,0,4,1,1554,773
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,777,Yone,49.46,49.62,35.10,49.35,43.11,37.83,3247,1611,44,20,5135,2534,73,39,3,1,8502,4205
156,875,Sett,47.86,47.57,35.10,45.19,43.11,45.54,1829,870,12,3,208,118,81,36,325,148,2455,1175
157,876,Lillia,48.97,51.48,48.48,45.19,43.11,37.83,674,347,2525,1224,40,15,1,1,1,0,3241,1587
158,887,Gwen,45.86,46.04,35.10,45.19,43.11,37.83,2187,1007,246,112,52,22,3,0,2,1,2490,1142
159,888,Renata Glasc,52.11,44.63,35.10,45.19,43.11,52.19,4,1,0,0,3,0,7,1,6724,3509,6738,3511

In [24]:
columns = []
for i in range (1,11):
    columns.append("Player_" + str(i) + "_pick")
df = pd.DataFrame([[517,421,18,96,117,145,142,888,5,80],[31,1,236,3,136,50,89,53,115,44]],columns=columns)

In [25]:
df['teamVictory'] = [100,200]

,Player_1_pick,Player_2_pick,Player_3_pick,Player_4_pick,Player_5_pick,Player_6_pick,Player_7_pick,Player_8_pick,Player_9_pick,Player_10_pick
0,517,421,18,96,117,145,142,888,5,80
1,31,1,236,3,136,50,89,53,115,44

In [23]:
to_decisionTreeData(df,'mid')

2it [00:00, 47.76it/s]

KeyError: 'teamVictory'