In [1]:
import pandas as pd
from tqdm import tqdm
import os

In [4]:
data_train = pd.read_csv("../datasets/pos_sorted_data/train.csv")
data_test= pd.read_csv("../datasets/pos_sorted_data/test.csv")
data_val = pd.read_csv("../datasets/pos_sorted_data/val.csv")

In [25]:
min_split1 = 20
min_split2 = 30

time_split_in_sec =[60*min_split1,60*min_split2]
time_split_in_sec

[1200, 1800]

In [30]:
def split_by_time(df):
    df_pre = df[df['gameDuration'] < time_split_in_sec[0]]
    df_mid = df.loc[(df['gameDuration'] > time_split_in_sec[0]) & (df['gameDuration'] < time_split_in_sec[1])]
    df_late = df[df['gameDuration'] > time_split_in_sec[1]]
    print ("pre: " + str(df_pre.shape[0]) + "\n" 
    + "mid: " + str(df_mid.shape[0]) +"\n" 
    + "late: " +str(df_late.shape[0]))
    return df_pre,df_mid,df_late

In [33]:
df_pre,df_mid,df_late = split_by_time(data_train)
df_pre.to_csv("../datasets/train_pre.csv", index=False)
df_mid.to_csv("../datasets/train_mid.csv", index=False)
df_late.to_csv("../datasets/train_late.csv", index=False)

pre: 9887
mid: 48770
late: 27020

In [ ]:
df_pre,df_mid,df_late = split_by_time(data_val)
df_pre.to_csv("../datasets/val_pre.csv", index=False)
df_mid.to_csv("../datasets/val_mid.csv", index=False)
df_late.to_csv("../datasets/val_late.csv", index=False)

In [19]:
data_train

,gameId,gameDuration,teamVictory,team_100_gold,team_200_gold,Player_1_pick,Player_1_position,Player_1_time_game,Player_1_gold,Player_1_xp,...,Player_9_dmg_taken,Player_9_time_ccing,Player_10_pick,Player_10_position,Player_10_time_game,Player_10_gold,Player_10_xp,Player_10_dmg_dealt,Player_10_dmg_taken,Player_10_time_ccing
0,398776824,1837,100,65405,58915,516,TOP,1837,11898,15994,...,23943,8,117,UTILITY,1837,7847,10195,6120,24057,28
1,4363972028,1566,200,48274,55955,150,TOP,1566,11144,13246,...,13158,18,111,UTILITY,1566,7619,9623,4525,8963,41
2,3168495552,1572,200,48206,61837,50,TOP,1572,11770,13555,...,18734,18,235,UTILITY,1572,13997,12369,28012,13220,27
3,1314237530,1901,100,72646,64186,420,TOP,1901,16797,18448,...,30680,5,32,UTILITY,1901,8702,12848,15059,33510,63
4,1193729142,1485,200,36338,55458,98,TOP,1485,7108,10690,...,20530,2,350,UTILITY,1485,8617,11778,8615,6494,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85795,396286960,1893,100,70023,65105,19,TOP,1893,9030,12912,...,28660,21,25,UTILITY,1893,11601,12654,23098,22031,50
85796,5938889352,913,200,23224,34077,85,TOP,913,4673,6238,...,4680,0,111,UTILITY,913,4239,4487,3757,7548,28
85797,1194627781,1838,200,53520,63474,92,TOP,1838,10033,12691,...,16915,2,201,UTILITY,1838,9638,12985,11833,19067,39
85798,396535287,800,200,18019,30387,114,TOP,800,5504,6430,...,4253,0,117,UTILITY,800,4738,4012,2730,3028,5
85799,5964301583,926,200,23857,35131,10,TOP,926,4900,7153,...,7338,3,555,UTILITY,926,4869,4186,3006,4811,10

In [20]:
train_pre = data_train[data_train['gameDuration'] < time_split_in_sec[0]]

In [21]:
train_pre

,gameId,gameDuration,teamVictory,team_100_gold,team_200_gold,Player_1_pick,Player_1_position,Player_1_time_game,Player_1_gold,Player_1_xp,...,Player_9_dmg_taken,Player_9_time_ccing,Player_10_pick,Player_10_position,Player_10_time_game,Player_10_gold,Player_10_xp,Player_10_dmg_dealt,Player_10_dmg_taken,Player_10_time_ccing
9,2545231606,979,100,37900,27309,10,TOP,979,6670,7539,...,8633,3,44,UTILITY,979,3258,3422,2620,9364,8
13,6012350211,1119,200,27982,43047,10,TOP,1119,5958,7856,...,6149,16,53,UTILITY,1119,5340,5553,3664,6570,16
14,5963650250,957,200,24158,40185,82,TOP,957,5220,7026,...,6391,6,497,UTILITY,957,5904,5968,3528,5568,14
48,5947640304,1153,200,29456,47932,39,TOP,1153,5794,7234,...,13778,6,16,UTILITY,1153,6190,5789,2230,5158,19
49,1192855140,917,200,24955,35174,516,TOP,917,4322,6898,...,5833,1,53,UTILITY,917,4469,4917,3483,6407,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85788,6005901347,952,100,37103,25577,84,TOP,952,6893,8492,...,8190,0,111,UTILITY,952,4513,3690,3386,7172,25
85790,5944486352,840,100,32824,19193,516,TOP,840,5565,6438,...,10422,6,888,UTILITY,840,3099,3965,2067,7770,7
85796,5938889352,913,200,23224,34077,85,TOP,913,4673,6238,...,4680,0,111,UTILITY,913,4239,4487,3757,7548,28
85798,396535287,800,200,18019,30387,114,TOP,800,5504,6430,...,4253,0,117,UTILITY,800,4738,4012,2730,3028,5
85799,5964301583,926,200,23857,35131,10,TOP,926,4900,7153,...,7338,3,555,UTILITY,926,4869,4186,3006,4811,10

In [22]:
train_mid = data_train.loc[(data_train['gameDuration'] > time_split_in_sec[0]) & (data_train['gameDuration'] < time_split_in_sec[1])]

In [23]:
train_mid

,gameId,gameDuration,teamVictory,team_100_gold,team_200_gold,Player_1_pick,Player_1_position,Player_1_time_game,Player_1_gold,Player_1_xp,...,Player_9_dmg_taken,Player_9_time_ccing,Player_10_pick,Player_10_position,Player_10_time_game,Player_10_gold,Player_10_xp,Player_10_dmg_dealt,Player_10_dmg_taken,Player_10_time_ccing
1,4363972028,1566,200,48274,55955,150,TOP,1566,11144,13246,...,13158,18,111,UTILITY,1566,7619,9623,4525,8963,41
2,3168495552,1572,200,48206,61837,50,TOP,1572,11770,13555,...,18734,18,235,UTILITY,1572,13997,12369,28012,13220,27
4,1193729142,1485,200,36338,55458,98,TOP,1485,7108,10690,...,20530,2,350,UTILITY,1485,8617,11778,8615,6494,24
6,5995566303,1641,100,58263,45888,887,TOP,1641,10648,14682,...,21387,36,875,UTILITY,1641,6463,7867,7345,22435,28
7,5965943660,1541,200,38014,54861,80,TOP,1541,9080,11759,...,12381,0,526,UTILITY,1541,7341,9094,6008,9039,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85786,397629628,1795,200,53028,64187,79,TOP,1795,8976,12563,...,24410,19,37,UTILITY,1795,8876,10623,10229,20725,15
85789,359916838,1634,100,62985,51295,518,TOP,1634,13674,15660,...,19103,1,53,UTILITY,1634,7539,8773,8226,25234,44
85791,2546591247,1670,100,55822,44731,517,TOP,1670,12518,14978,...,16302,31,16,UTILITY,1670,7745,9233,7022,17671,40
85792,526941679,1366,100,43882,36344,875,TOP,1366,7369,12165,...,12966,0,412,UTILITY,1366,5981,6632,6298,14189,38
85794,6014561282,1559,100,51903,44933,150,TOP,1559,8612,12691,...,18288,2,350,UTILITY,1559,6404,7638,7111,8439,13

In [24]:
train_late = data_train[data_train['gameDuration'] > time_split_in_sec[1]]
train_late

,gameId,gameDuration,teamVictory,team_100_gold,team_200_gold,Player_1_pick,Player_1_position,Player_1_time_game,Player_1_gold,Player_1_xp,...,Player_9_dmg_taken,Player_9_time_ccing,Player_10_pick,Player_10_position,Player_10_time_game,Player_10_gold,Player_10_xp,Player_10_dmg_dealt,Player_10_dmg_taken,Player_10_time_ccing
0,398776824,1837,100,65405,58915,516,TOP,1837,11898,15994,...,23943,8,117,UTILITY,1837,7847,10195,6120,24057,28
3,1314237530,1901,100,72646,64186,420,TOP,1901,16797,18448,...,30680,5,32,UTILITY,1901,8702,12848,15059,33510,63
5,1193751212,2347,100,86919,79954,10,TOP,2347,22030,28655,...,30114,13,555,UTILITY,2347,11332,13927,12753,35429,42
8,6015759160,1939,200,63028,66116,8,TOP,1939,13486,15687,...,24220,34,111,UTILITY,1939,7768,11218,6753,19656,55
11,5938796066,1823,200,62047,65760,48,TOP,1823,14052,17113,...,32338,17,350,UTILITY,1823,11557,14320,9789,5642,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85779,3169519446,1838,100,64458,54134,516,TOP,1838,10868,15638,...,26288,39,117,UTILITY,1838,7819,8444,8254,16455,32
85781,1309616860,1837,200,55108,60997,86,TOP,1837,11586,12478,...,18311,16,43,UTILITY,1837,9020,12490,14405,11134,24
85793,6004296244,1956,100,70407,64124,150,TOP,1956,14230,18370,...,21731,12,555,UTILITY,1956,11117,9320,7015,25309,21
85795,396286960,1893,100,70023,65105,19,TOP,1893,9030,12912,...,28660,21,25,UTILITY,1893,11601,12654,23098,22031,50
85797,1194627781,1838,200,53520,63474,92,TOP,1838,10033,12691,...,16915,2,201,UTILITY,1838,9638,12985,11833,19067,39