In [1]:
import GenerateInputDataForMLModel

from ChampionNameMapping import ChampionNameMapping
import pandas as pd

In [2]:
df_train = pd.read_csv("../datasets/decisionTree_feature_data/train_pre.csv")

In [37]:
t = df_train = pd.read_csv("../datasets/desicionTree_feature_data/train_pre.csv")

In [38]:
t

,Top_counterScore,Jug_counterScore,Mid_counterScore,Bot_counterScore,Uti_counterScore,diff_TeamAttackScore,diff_TeamDefenseScore,diff_TeamWinRate,diff_TeamComboCount,diff_TeamControlScore,Team1_AttackDefenseBalanceScore,Team2_AttackDefenseBalanceScore,TeamVictory
0,-569.769231,0.0,0.000000,0.0,0.0,-26.728,-85.524,-2.474,-1,-0.42042,-170.620,-229.416,100
1,-653.587302,0.0,0.000000,0.0,0.0,10.102,0.622,-0.086,0,-0.12484,-168.976,-178.456,200
2,-714.315789,0.0,0.000000,0.0,0.0,0.534,35.238,0.138,0,-0.20374,-202.664,-167.960,200
3,-455.454545,0.0,1768.857143,0.0,0.0,-31.714,-62.086,-5.316,-1,-0.08240,-153.022,-183.394,200
4,640.684211,0.0,0.000000,0.0,0.0,-26.140,71.988,-3.258,1,0.34540,-263.154,-165.026,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9845,-370.222222,0.0,0.000000,0.0,0.0,25.160,36.706,6.188,0,-0.03392,-167.274,-155.728,100
9846,0.000000,0.0,0.000000,0.0,0.0,44.122,-33.904,8.204,0,-0.00696,-124.410,-202.436,100
9847,0.000000,0.0,0.000000,0.0,0.0,37.680,50.148,-0.738,-1,0.25906,-191.892,-179.424,200
9848,-311.636364,0.0,298.846154,0.0,0.0,14.396,-68.370,-8.290,0,-0.17414,-148.212,-230.978,200
9849,-569.769231,0.0,0.000000,0.0,0.0,-7.800,-145.658,-2.710,0,0.08910,-66.004,-203.862,200

In [31]:
t['TeamVictory'] = t['TeamVictory'].astype('string')

In [32]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9850 entries, 0 to 9849
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Top_counterScore                 9850 non-null   float64
 1   Jug_counterScore                 9850 non-null   float64
 2   Mid_counterScore                 9850 non-null   float64
 3   Bot_counterScore                 9850 non-null   float64
 4   Uti_counterScore                 9850 non-null   float64
 5   diff_TeamAttackScore             9850 non-null   float64
 6   diff_TeamDefenseScore            9850 non-null   float64
 7   diff_TeamWinRate                 9850 non-null   float64
 8   diff_TeamComboCount              9850 non-null   int64
 9   diff_TeamControlScore            9850 non-null   float64
 10  Team1_AttackDefenseBalanceScore  9850 non-null   float64
 11  Team2_AttackDefenseBalanceScore  9850 non-null   float64
 12  TeamVictory                      9850 non-null   string
dtypes: float64(11), int64(1), string(1)
memory usage: 1000.5 KB

In [33]:
t

,Top_counterScore,Jug_counterScore,Mid_counterScore,Bot_counterScore,Uti_counterScore,diff_TeamAttackScore,diff_TeamDefenseScore,diff_TeamWinRate,diff_TeamComboCount,diff_TeamControlScore,Team1_AttackDefenseBalanceScore,Team2_AttackDefenseBalanceScore,TeamVictory
0,-569.769231,0.0,0.000000,0.0,0.0,-26.728,-85.524,-2.474,-1,-0.42042,-170.620,-229.416,[100]
1,-653.587302,0.0,0.000000,0.0,0.0,10.102,0.622,-0.086,0,-0.12484,-168.976,-178.456,[200]
2,-714.315789,0.0,0.000000,0.0,0.0,0.534,35.238,0.138,0,-0.20374,-202.664,-167.960,[200]
3,-455.454545,0.0,1768.857143,0.0,0.0,-31.714,-62.086,-5.316,-1,-0.08240,-153.022,-183.394,[200]
4,640.684211,0.0,0.000000,0.0,0.0,-26.140,71.988,-3.258,1,0.34540,-263.154,-165.026,[200]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9845,-370.222222,0.0,0.000000,0.0,0.0,25.160,36.706,6.188,0,-0.03392,-167.274,-155.728,[100]
9846,0.000000,0.0,0.000000,0.0,0.0,44.122,-33.904,8.204,0,-0.00696,-124.410,-202.436,[100]
9847,0.000000,0.0,0.000000,0.0,0.0,37.680,50.148,-0.738,-1,0.25906,-191.892,-179.424,[200]
9848,-311.636364,0.0,298.846154,0.0,0.0,14.396,-68.370,-8.290,0,-0.17414,-148.212,-230.978,[200]
9849,-569.769231,0.0,0.000000,0.0,0.0,-7.800,-145.658,-2.710,0,0.08910,-66.004,-203.862,[200]

In [34]:
t['TeamVictory'] = t['TeamVictory'].map({"[100]":100,"[200]":200})
t

,Top_counterScore,Jug_counterScore,Mid_counterScore,Bot_counterScore,Uti_counterScore,diff_TeamAttackScore,diff_TeamDefenseScore,diff_TeamWinRate,diff_TeamComboCount,diff_TeamControlScore,Team1_AttackDefenseBalanceScore,Team2_AttackDefenseBalanceScore,TeamVictory
0,-569.769231,0.0,0.000000,0.0,0.0,-26.728,-85.524,-2.474,-1,-0.42042,-170.620,-229.416,100
1,-653.587302,0.0,0.000000,0.0,0.0,10.102,0.622,-0.086,0,-0.12484,-168.976,-178.456,200
2,-714.315789,0.0,0.000000,0.0,0.0,0.534,35.238,0.138,0,-0.20374,-202.664,-167.960,200
3,-455.454545,0.0,1768.857143,0.0,0.0,-31.714,-62.086,-5.316,-1,-0.08240,-153.022,-183.394,200
4,640.684211,0.0,0.000000,0.0,0.0,-26.140,71.988,-3.258,1,0.34540,-263.154,-165.026,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9845,-370.222222,0.0,0.000000,0.0,0.0,25.160,36.706,6.188,0,-0.03392,-167.274,-155.728,100
9846,0.000000,0.0,0.000000,0.0,0.0,44.122,-33.904,8.204,0,-0.00696,-124.410,-202.436,100
9847,0.000000,0.0,0.000000,0.0,0.0,37.680,50.148,-0.738,-1,0.25906,-191.892,-179.424,200
9848,-311.636364,0.0,298.846154,0.0,0.0,14.396,-68.370,-8.290,0,-0.17414,-148.212,-230.978,200
9849,-569.769231,0.0,0.000000,0.0,0.0,-7.800,-145.658,-2.710,0,0.08910,-66.004,-203.862,200

In [35]:
a = t.loc[t.TeamVictory == 100]
a

,Top_counterScore,Jug_counterScore,Mid_counterScore,Bot_counterScore,Uti_counterScore,diff_TeamAttackScore,diff_TeamDefenseScore,diff_TeamWinRate,diff_TeamComboCount,diff_TeamControlScore,Team1_AttackDefenseBalanceScore,Team2_AttackDefenseBalanceScore,TeamVictory
0,-569.769231,0.0,0.0,0.0,0.0,-26.728,-85.524,-2.474,-1,-0.42042,-170.620,-229.416,100
5,-913.695652,0.0,0.0,0.0,0.0,9.964,71.244,2.618,0,0.60294,-177.130,-115.850,100
9,-402.444444,0.0,0.0,0.0,0.0,40.364,-15.128,6.452,0,0.10030,-163.692,-219.184,100
10,0.000000,0.0,0.0,0.0,0.0,18.566,25.210,-3.278,0,0.07964,-143.518,-136.874,100
11,0.000000,0.0,0.0,0.0,0.0,29.056,-54.954,1.470,0,-0.32596,-153.296,-237.306,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9842,0.000000,0.0,0.0,0.0,0.0,65.094,1.454,4.728,0,0.17946,-94.926,-158.566,100
9843,204.038462,0.0,0.0,0.0,0.0,5.214,2.360,-6.666,0,-0.10574,-195.756,-198.610,100
9844,-402.444444,0.0,0.0,0.0,0.0,33.592,52.714,1.698,0,-0.12962,-180.744,-161.622,100
9845,-370.222222,0.0,0.0,0.0,0.0,25.160,36.706,6.188,0,-0.03392,-167.274,-155.728,100
9846,0.000000,0.0,0.0,0.0,0.0,44.122,-33.904,8.204,0,-0.00696,-124.410,-202.436,100

In [36]:
t.to_csv("../datasets/desicionTree_feature_data/train_pre.csv", index=False)