In [9]:
import GenerateInputDataForMLModel

from ChampionNameMapping import ChampionNameMapping
import pandas as pd

In [10]:
m = ChampionNameMapping()
a = ChampionNameMapping.all_feature_columns()
dt = ChampionNameMapping.dt_feature_columns()

In [12]:
dt

['Top_counterScore',
 'Jug_counterScore',
 'Mid_counterScore',
 'Bot_counterScore',
 'Uti_counterScore',
 'diff_TeamAttackScore',
 'diff_TeamDefenseScore',
 'diff_TeamWinRate',
 'diff_TeamComboCount',
 'diff_TeamControlScore',
 'Team1_AttackDefenseBalanceScore',
 'Team3_AttackDefenseBalanceScore']

In [3]:
df_train = pd.read_csv("../datasets/train_pre.csv")
df_train

,gameId,gameDuration,teamVictory,team_100_gold,team_200_gold,Player_1_pick,Player_1_position,Player_1_time_game,Player_1_gold,Player_1_xp,...,Player_9_dmg_taken,Player_9_time_ccing,Player_10_pick,Player_10_position,Player_10_time_game,Player_10_gold,Player_10_xp,Player_10_dmg_dealt,Player_10_dmg_taken,Player_10_time_ccing
0,2545231606,979,100,37900,27309,10,TOP,979,6670,7539,...,8633,3,44,UTILITY,979,3258,3422,2620,9364,8
1,6012350211,1119,200,27982,43047,10,TOP,1119,5958,7856,...,6149,16,53,UTILITY,1119,5340,5553,3664,6570,16
2,5963650250,957,200,24158,40185,82,TOP,957,5220,7026,...,6391,6,497,UTILITY,957,5904,5968,3528,5568,14
3,5947640304,1153,200,29456,47932,39,TOP,1153,5794,7234,...,13778,6,16,UTILITY,1153,6190,5789,2230,5158,19
4,1192855140,917,200,24955,35174,516,TOP,917,4322,6898,...,5833,1,53,UTILITY,917,4469,4917,3483,6407,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9845,6005901347,952,100,37103,25577,84,TOP,952,6893,8492,...,8190,0,111,UTILITY,952,4513,3690,3386,7172,25
9846,5944486352,840,100,32824,19193,516,TOP,840,5565,6438,...,10422,6,888,UTILITY,840,3099,3965,2067,7770,7
9847,5938889352,913,200,23224,34077,85,TOP,913,4673,6238,...,4680,0,111,UTILITY,913,4239,4487,3757,7548,28
9848,396535287,800,200,18019,30387,114,TOP,800,5504,6430,...,4253,0,117,UTILITY,800,4738,4012,2730,3028,5
9849,5964301583,926,200,23857,35131,10,TOP,926,4900,7153,...,7338,3,555,UTILITY,926,4869,4186,3006,4811,10

In [13]:
columns = []
for i in range (1,11):
    columns.append("Player_" + str(i) + "_pick")
columns.append("teamVictory")
df = df_train[columns]
df

,Player_1_pick,Player_2_pick,Player_3_pick,Player_4_pick,Player_5_pick,Player_6_pick,Player_7_pick,Player_8_pick,Player_9_pick,Player_10_pick,teamVictory
0,10,76,777,81,40,79,107,50,429,44,100
1,10,163,58,523,117,41,62,69,147,53,200
2,82,200,517,81,37,164,203,163,429,497,200
3,39,131,157,81,267,58,76,777,119,16,200
4,516,5,517,145,526,114,421,42,81,53,200
...,...,...,...,...,...,...,...,...,...,...,...
9845,84,79,517,119,53,122,30,875,236,111,100
9846,516,62,45,81,101,555,234,163,29,888,100
9847,85,234,50,86,235,91,104,103,145,111,200
9848,114,83,887,498,350,102,113,39,145,117,200
9849,10,78,134,51,99,79,120,112,429,555,200

In [14]:
for index, row in df.head(1).iterrows():
    data = row.values.tolist()
print (data[:10])
a = data[:10]

[10, 76, 777, 81, 40, 79, 107, 50, 429, 44]

In [15]:
m = ChampionNameMapping()
m.fit_data(a,"pre")

[10, 76, 777, 81, 40, 79, 107, 50, 429, 44]

In [17]:
dtv = m.dt_feature_values()

IndexError: invalid index to scalar variable.

In [16]:
print(m.dt_feature_values())

IndexError: invalid index to scalar variable.

In [ ]:
dt_columns =[]
for c in ChampionNameMapping.dt_feature_columns():
    dt_columns += c
df_DT = pd.DataFrame(columns=dt_columns)

df_DT

In [ ]:
df.loc[len(df.index)] = [value1, value2, value3, ...]